@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --primary-color:#03989E;
  --primary-font:'Roboto', sans-serif;
  --primary-white:#F5F5F5;
  --primary-black-transparent:rgba(27, 28, 30,0.75);
}

*{
  font-family: var(--primary-font);
}

body{
  background: var(--primary-white);
}



p{
  line-height: 2em;
}

.section-head{
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  overflow: hidden;
  margin-bottom: 50px;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%,-50%);
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 15px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-show{
  background: var(--primary-black-transparent);
  transition: 1s;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  
  nav ul{
    background: var(--primary-black-transparent);
    position: absolute;
    left: 0;
    top: 70px;
    width:0;
    display: flex;
    flex-direction: column;
    align-content: left;
    text-align: center;
    overflow: hidden;
    transition: 1s;
    z-index: -1;
  }
  
  .nav-show{
    width: 100%;
    align-content: center;
  }
}


.main-title{
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 900;
}

.main-title span{
  color: transparent;
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: var(--primary-color);
}

.main-heading-container{
  display: inline-block;
}

.main-heading{
  font-family: 'Nunito Sans', sans-serif;
  color: var(--primary-color);
  font-size: 35px;
  border-right: .15em solid orange;
  animation: typing steps(11, end) 1.2s forwards,
              blink .9s infinite;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink{
  from { border-color: transparent }
  to { border-color: orange; }
}

.main-disc{
  font-size: 12px;
}

.main-disc a{
  color: var(--primary-white);
}

.main-btn{
  color: var(--primary-color);
  background: transparent;
  text-decoration: none;
  padding: 0.75em 2em;
  border-radius: 6em;
  font-size: 18px;
  font-weight: 500;
  border: 3px solid var(--primary-color);
  
}

.main-btn:hover{
  color: var(--primary-white);
  /*box-shadow: 2px 2px 8px var(--primary-color),
              -2px -2px 8px var(--primary-color);*/
  background: var(--primary-color);
}

.img-main{
  width: 100%;
  height: auto; 
}

