*{
  margin: 0;
  padding: 0;
  box-sizing: border;
  color: #FFF;
  font-family: GlametrixBold;
}

/* Pre Loader*/

.loader{
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  background: #000000;
  align-items: center;
  justify-content:center ;
  transition: 0.5s;
  z-index: 100;
}
.l-body{
  content: '';
  position: relative;
  display: flex;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px dashed #6F88FE;
  align-items: center;
  justify-content:center ;
  animation: rotater ease-in-out 4s infinite;
}
.l-body::after{
  content: '';
  background: transparent;
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border: 5px dashed #44E3FF;
  border-radius: 50%;
  animation: rotater ease-in-out 2s infinite;
  animation-direction: reverse;
}
.hide{
  opacity: 0;
  visibility: hidden;
  
}

@keyframes rotater{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

/*main body*/
.container{
  background: #000;
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.head-folks{
  position: absolute;
  left: 5vw;
  top: 25vh;
  font-size: 1.5rem;
  color: #44E3FF;
 /* background: -webkit-linear-gradient(30deg,#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-family: GlametrixBold;
}
.head-normal{
  position: absolute;
  left: 5vw;
  top: 40vh;
  font-size: 2.5rem;
  color: #FFFFFF;
  font-family: GlametrixBold;
}
.head-name{
  color: #6F88FE;
  padding: .1em;
  font-weight: bolder;
}
.head-name::before{
  content: "I'm";
  color: #FFFFFF;
  font-size: 2rem;
  position: absolute;
  transform: translate(0, -25px);
}

.head-avater-body{
  position: absolute;
  right: 3vw;
  top: 20vh;
  width: auto;
  height: auto;
}

.head-avater{
  width: 60vw;
  height: auto;
  max-height: 60vh;
  object-fit: contain;
}

.head-avater-body::after{
  content: ' ';
  position: absolute;
  background-image: linear-gradient(0deg,#000000 10%,transparent 80%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.reveal{
  opacity: 0;
  animation: reveal ease-in 1s forwards;
}
.head-disc-body{
  position: absolute;
  margin: 5%;
  top: 50vh;
  font-size: 1.5rem;
}

@keyframes reveal{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/*Custom Fonts*/

@font-face{
  font-family:Skaters;
  src: url(fonts/Skaters-K7wXy.otf);
}

@font-face{
  font-family:GlametrixBold;
  src: url(fonts/GlametrixBold-4dW6.otf);
}
