*{
  margin: 0;
  padding: 0;
  box-sizing: border;
  font-family: OpenSans;
}

/* Pre Loader*/

.loader{
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  background: #000000;
  align-items: center;
  justify-content:center ;
  transition: 0.5s;
  z-index: 100;
}
.l-body{
  content: '';
  position: relative;
  display: flex;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px dashed #6F88FE;
  align-items: center;
  justify-content:center ;
  animation: rotater ease-in-out 4s infinite;
}
.l-body::after{
  content: '';
  background: transparent;
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border: 5px dashed #44E3FF;
  border-radius: 50%;
  animation: rotater ease-in-out 2s infinite;
  animation-direction: reverse;
}
.hide{
  opacity: 0;
  visibility: hidden;
  
}

@keyframes rotater{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

/*main body*/
.main-section .container{
  background: #000;
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.head-folks{
  position: absolute;
  left: 5vw;
  top: 25vh;
  font-size: 1.5rem;
  color: #44E3FF;
 /* background: -webkit-linear-gradient(30deg,#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-family: GlametrixBold;
}
.head-normal{
  position: absolute;
  left: 5vw;
  top: 40vh;
  font-size: 2.5rem;
  color: #FFFFFF;
  font-family: GlametrixBold;
}
.head-name{
  color: #6F88FE;
  padding: .1em;
  font-weight: bolder;
}
.head-name::before{
  content: "I'm";
  color: #FFFFFF;
  font-size: 2rem;
  position: absolute;
  transform: translate(0, -25px);
}

.head-avater-body{
  position: absolute;
  right: 3vw;
  top: 20vh;
  width: auto;
  height: auto;
}

.head-avater{
  width: 60vw;
  height: auto;
  max-height: 60vh;
  object-fit: contain;
}

.head-avater-body::after{
  content: ' ';
  position: absolute;
  background-image: linear-gradient(0deg,#000000 5%,transparent 80%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.reveal{
  opacity: 0;
  animation: reveal ease-in 1s forwards;
}
.head-disc-body{
  position: absolute;
  color: #FFFFF2;
  margin: 5%;
  top: 50vh;
  font-size: 1rem;
}

@keyframes reveal{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*Section Skills*/

.skills-section{
  user-select: none;
  padding: 10px 3vw;
}
.skills-section .container{
  display: flex;
  align-items: center;
}

.skills-content{
  width: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  
}
.col{
  padding: 2vw;
}
.skills-head{
  color: #b8b8b8;
  margin-top: 5px;
  font-size: 10vw;
  font-family: GlametrixBold;
}

.skills-card{
  display: flex;
  padding: 1vw 3vw;
  padding-left: 2vw;
  border-radius: 3vw;
  box-shadow: 0 0 3vw #e8e8e8;
  align-items: center;
}

.skills-card-icon{
  width: 15vw;
  padding: 1vw;
}
.skills-card-title{
  color: #0F172E;
  font-size: 5vw;
  padding: 1vw;
  font-weight: bold;
}

.img-copy{
  color: #aaaaaa;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  transform: rotate(-90deg) translate(0,7vw);
}
.img-copy a{
  text-decoration: none;
}

/*Footer*/

.footer{
  width: 100vw;
  background: #6F88FE;
}
.footer-body{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-body i{
  margin: 3vw;
  font-size: 25px;
}


/*Custom Fonts*/

@font-face{
  font-family:Skaters;
  src: url(fonts/Skaters-K7wXy.otf);
}

@font-face{
  font-family:GlametrixBold;
  src: url(fonts/GlametrixBold-4dW6.otf);
}

@font-face{
  font-family:OpenSans;
  src: url(fonts/OpenSans-B9K8.ttf);
}
