* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-head{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000000;
}

.main-heading-addressing{
  color:  #FFFFFF/*linear-gradient(30deg,#00E0C6,#009393)*/;
  font-size: 20px;
}
