* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-head-container{
  position: fixed;
  width: 50vw;
  height: 100vh;
}

.main-heading-addressing{
  color:  #00ccff/*linear-gradient(30deg,#00E0C6,#009393)*/;
  font-size: 20px;
}
